# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/

# Database
weather.db

# Generated exports
weather_history.csv

# React / Vite
Front/node_modules/
Front/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/